/* 
p1: #1E075F
p2:#F2E3FF
p3:#6200B4
*/

.identicon {
    border-radius: 50%;
    border: white 1.5px solid;
    padding: 2px;
}

.md {
    font-size: 1.1em;
    color: #333;
}

.md-v {
    color: #521AAB;
    font-size: 2em;
}

.v-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display {
    color: #521AAB;
    font-weight: 600;
}

.center {
    text-align: center
}

.sort {
    background: linear-gradient( 90deg, rgba(77, 1, 180, 1) 0%, rgba(101, 1, 180, 1) 100%);
    color: white;
    padding: 25px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    transition: 0.5s;
}

.file-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.part-top {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary:hover {
    cursor: pointer;
    color: #521AAB;
}

.primary {
    color: #8055c6;
    transition: 0.5s;
}

.part-bottom {
    height: 5%;
    margin: 20px;
    width: 100%;
}

.w-sm {
    width: 10%;
}

.w-lg {
    width: 60%;
    font-weight: 600;
    color: #521AAB;
}

center {
    text-align: center;
}

.file-icon {
    font-size: 7em;
    color: #8055c6;
}

.sort:hover {
    opacity: 0.8;
    cursor: pointer;
}

.ml-2 {
    margin-right: 10px;
}

.search {
    border: none;
    padding: 10px;
    height: 50px;
    width: 400px;
    border-radius: 10px;
    border: rgba(77, 1, 180, 1) solid 2px;
    color: rgb(125, 125, 125);
}

.footer {
    background-color: #521AAB;
    color: white;
    position: fixed;
    bottom: 0;
    height: 40px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flex {
    display: flex;
    flex-direction: row;
}